@-ms-viewport{
  width: device-width;
}
* {
  box-sizing: border-box;
}
.cf:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.cf { display: inline-block; }
/* start commented backslash hack \*/
* html .cf { height: 1%; }
.cf { display: block; }
/* close commented backslash hack */

body {
  font-family: Arial;
  font-size: 14px;
}
a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
  color: #b4da55;
}
h1,h2,h3,h4,h5,h6 {
  color: #b4da55;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0;
}
h1 {
  font-size: 40px;
}
h1 .small {
  font-size: 50%;
}
hr {
  border: none;
  border-bottom: 1px solid #dadada;
  margin: 40px 0 20px;
}
label {
  font-weight: bold;
}
input {
  margin: 5px 0;
  padding: 5px;
  width: 100%;
  display: block;
}
pre {
  background: #ececec;
  padding: 10px;
  overflow: auto;
}
.pr {
  float: right;
}
.pl {
  float: left;
}
.form-row {
  margin: 5px 0;
  border-bottom: 1px solid #cfcfcf;
}
.form-row div {
  float: right;
  font-weight: bold;
  display: none;
}
.form-row div span {
  color: #b4da55;
}
.form-row.form-controls {
  padding-bottom: 20px;
}
.hero {
  background: #b4da55;
  padding: 40px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  overflow: hidden;
}
.loading-wrapper {
  display: none;
}